.title1{
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* background-color: pink; */
    box-shadow: 2px 5px 10px 1px rgba(0, 0,0,0.3);
    background-color:#ECECEC
}
.title1 .text1{
    margin-left: 50px;
    width: 200px;
    height: 70px;
    /* background-color: purple; */
    line-height: 70px;
}
.title1 ul{
    display: flex;
    width: 450px;
    height: 70px;
    justify-content: flex-end;
    
}
.title1 ul li{
    /* border: 2px solid blue; */
    width: 200px;
    height: 70px;
    /* background-color: orange; */
}
.title1 ul li a{
    text-decoration: none;
    color: black;
    line-height: 70px;
}

/* 上面的都是头部 */


.back1{
    height: 770px;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    height: 850px;
    background-color: rgb(241,241,241);
}
.back1 .left1{
    margin-right: 30px;
    width: 300px;
    height: 800px;
    /* background-color: orange; */
    box-shadow: 2px 5px 10px 1px rgba(0, 0,0,0.3);
    background-color:#ECECEC
}
.back1 .left1 ul li{
    width: 300px;
    height: 70px;
    /* background-color: blue; */
    line-height: 70px;
}
.back1 .left1 ul li a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.back1 .left1 ul li span{
    margin-right: 10px;
    float: right;
}
.back1 .left1 ul li a:hover{
    color: purple;
}
.back1 .right1{
    width: 1500px;
    min-width: 1200px;
    height: 800px;
    background-color: #EFEFEF;
    overflow-y: auto;
}
.back1 .right1 .pic1{
    margin: 15px auto;
    width: 730px;
    height: 335px;
    background-color: #FFF;
}
.back1 .right1 .pic1 ul li{
    background-color: #FFF;
    position: absolute;
}



/* 

.banner-container{
	width:1200px;
	height:400px;
	margin:1rem auto;
	overflow: hidden;
	position: relative;
}

.banner-container .banner-img-container {
	width:6000px;
	height:400px;
	overflow: hidden;
	position: absolute;
	display: flex;
	transition: transform 0.6s ease;
}

.banner-container .banner-img-container  img{
	width:100%;
	height:100%;
}


.banner-container a {
	width:24px;
	height:24px;
	background:#87c8eb;
	position: absolute;
	bottom:1rem;
	border-radius: 100%;
	margin:0;
	z-index: 1;
}

.banner-container input{
	width:24px;
	height:24px;
	position: absolute;
	bottom:1rem;
	margin:0;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}


#banner-control-1,#banner-control-1 + .banner-nav-a{
    left: 30%;
}
#banner-control-2,#banner-control-2 + .banner-nav-a{
    left: 40%;
}
#banner-control-3,#banner-control-3 + .banner-nav-a{
    left: 50%;
}
#banner-control-4,#banner-control-4 + .banner-nav-a{
    left: 60%;
}
#banner-control-5,#banner-control-5 + .banner-nav-a{
    left: 70%;
}


input:checked + .banner-nav-a {
    background-color: #ad244f;
}


#banner-control-1:checked ~ .banner-img-container{
	transform: translateX(0px);
}
#banner-control-2:checked ~ .banner-img-container{
	transform: translateX(-1200px);
}
#banner-control-3:checked ~ .banner-img-container{
	transform: translateX(-2400px);
}
#banner-control-4:checked ~ .banner-img-container{
	transform: translateX(-3600px);
}
#banner-control-5:checked ~ .banner-img-container{
	transform: translateX(-4800px);
} */




/* 基本样式 */
.carousel {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%; /* 3个图片，所以总宽度是100% * 3 */
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0; /* 防止图片压缩 */
}

.slide img {
    width: 100%;
    height: auto;
}

/* 隐藏未显示的图片 */
input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-33.3333%);
}

#slide3:checked ~ .slides {
    transform: translateX(-66.6666%);
}

/* 轮播图导航 */
.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.navigation label {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

input#slide1:checked ~ .navigation label[for="slide1"],
input#slide2:checked ~ .navigation label[for="slide2"],
input#slide3:checked ~ .navigation label[for="slide3"] {
    background-color: rgba(255, 255, 255, 1);
}
